#carousel-area {
  overflow: hidden;
  background: #2c3e50;
  /*
		WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
		now override the 3.3 new styles for modern browsers & apply opacity
		*/
}
#carousel-area .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
#carousel-area .carousel-inner .active {
  opacity: 1;
}
#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
  opacity: 1;
}
#carousel-area .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  #carousel-area .carousel-inner > .item.next,
  #carousel-area .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #carousel-area .carousel-inner > .item.prev,
  #carousel-area .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #carousel-area .carousel-inner > .item.next.left,
  #carousel-area .carousel-inner > .item.prev.right,
  #carousel-area .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#carousel-area .item {
  background-size: 100%;
  background-size: cover;
  height: 560px;
}
#carousel-area .item .carousel-caption {
  top: 22%;
  right: 10%;
  left: 10%;
  text-shadow: none;
}
#carousel-area .item .carousel-caption h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .carousel-caption p {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}
#carousel-area .item .carousel-caption .btn {
  margin: 30px 15px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}
#carousel-area .active {
  opacity: 1;
}
#carousel-area .active.left,
#carousel-area .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-control {
  z-index: 10;
  width: 35px;
  height: 55px;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background: url(../img/skin.png);
  margin-top: -35px;
  text-shadow: none;
}
#carousel-area .left.carousel-control {
  left: 5%;
}
#carousel-area .right.carousel-control {
  right: 5%;
  background-position: -150px 0px;
}
#carousel-area .carousel-indicators {
  bottom: 5px;
}
#carousel-area .carousel-indicators li {
  border-radius: 0px;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #436eee;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
  opacity: 1;
  width: 18px;
  height: 18px;
  background: #fff;
}
#carousel-area:hover .carousel-control {
  display: block;
}
#carousel-area i {
  margin-right: 10px;
}
.big-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}
.mr {
  margin-right: 10px;
}
